body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background: linear-gradient(180deg, #ffe5ec 70%, #f97395 190%);;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 32px;
  width: 100vw;
  position: fixed;     
  top: 0;              
  left: 0;
  z-index: 1000;       
}


.header-bar {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #fb6f92 5%, #ff8fab 200%);
  box-shadow: 1px 8px #d24a6c, -1px 8px #d24166;
  padding: 18px 36px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  min-height: 120px;
}

.header-text {
  font-family: 'Press Start 2P', cursive;
  color: #ffe5ec;
  font-size: 35px;
  text-align: left;
  text-shadow: 5px 5px 0 #d24166;
}

.header-text .subtitle {
  display: block;
  font-size: 0.7rem;
  color: #ffe5ec;
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 3px 2px 0 #ca3157; 
}

#welcomeHeader {
  font-family: 'Press Start 2P', cursive;
  color: #ff88a6;
  font-size: 2.5rem;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  margin: 80px auto 8px auto;
  min-height: 8px;
  text-shadow: 3px 3px 0 #e25c7d;
  
  
}

.buttonguide {
  font-family: fredoka, sans-serif;
  color: #ff7d9d;
  font-size: 19px; 
  padding: 1rem 2rem;
  min-width: 300px;   
  min-height: 50px;
  cursor: default;
  margin-bottom: 6px;
  text-align: center;
  text-shadow: 1px 1px 0 #d15c79;
  letter-spacing: 0.9px;
}


#playBtn {
  font-family: 'Press Start 2P', cursive;
  background: #ffc2d1;
  color: #fb6f92;
  font-size: 2rem; 
  padding: 2rem 5rem;
  min-width: 300px;   
  min-height: 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  animation: pulse 5.5s infinite;
  transition: transform 0.2s;
  box-shadow: 3px 3px 5px rgba(119, 11, 38, 0.6);
}

#playBtn span {
  display: inline-block;
  animation: dance 3s infinite;
}

#playBtn span:nth-child(1) { animation-delay: 0s; }
#playBtn span:nth-child(2) { animation-delay: 0.2s; }
#playBtn span:nth-child(3) { animation-delay: 0.4s; }
#playBtn span:nth-child(4) { animation-delay: 0.6s; }

#playBtn:hover {
  transform: scale(1.1) rotate(-5deg);
  background: #ff8fab; 
  color: #ffe5ec; 
  box-shadow: 4px 4px 7px rgba(119, 11, 38, 0.8);
}


@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.2); }
}

@keyframes dance {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-3px); } 
  50% { transform: translateY(3px); }
  75% { transform: translateY(-2px); }
}



